mixin talk(data)
  .page-header
    h2 !{data.title}
    h4: span.label.label-default !{data.location}

  .well
    block

  .btn-group
    for link in data.links
      a.btn.btn-default(href=link.link, target='_blank') !{link.title}

mixin talk_item(data)
  a.list-group-item(href='/talks/' + data.link + '.html')
    block
    span.label.label-primary.pull-right !{data.location}
